*, *::before, *::after {
  box-sizing: border-box; 
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
}
body {
  padding:0;
  margin:0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #CAE9FF;
  height: 100%;
}
.done {
  text-decoration: line-through;
}
/************************************************************************************/
/* Shoping List */
.container1 {
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 125px;
  padding-bottom: 25px;
  border-bottom: 2px solid #6F808C;
}
h1 {
  font-size: 3.5rem;
  font-weight: 500;
}
/************************************************************************************/
/* Enter Items & Enter */
.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Input & Enter */
#inputEnter { 
  margin: 10px 0px;
  padding: 10px 0px;
  width: 300px;
  margin-bottom: -20px;   /* aici am pus -20px */
}
/* User Input */
#userinput {
  width: 300px;
  margin-top: 5px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 20px;
  background-color: rgba(216, 29, 29, 0.0);
  padding: 5px;
}
#userinput:hover {
  background-color: rgba(161, 240, 243, 0.863);
  transition: all .2s;
  box-shadow: 0px 0px 43px -8px rgba(0,0,0,0.4);
  cursor: pointer;
}
#userinput:focus {
  background-color: rgba(161, 240, 243, 0.863);
  outline: none;
  box-shadow: 0px 0px 43px -8px rgba(0,0,0,0.4);
  cursor: default;
}

/* Enter Button */
#enter {
  width: 300px;
  font-size: 20px;
  margin-top: 5px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(216, 29, 29, 0.0);
  padding: 5px;
}
#enter:hover {
  background-color: rgba(49, 179, 23, 0.89);
  transition: all .2s;
  cursor: copy;
}
#enter:active {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 1);
}
#enter:focus {
  outline: none;
}
/* Delete All List button */
#deleteAll {
  width: 300px;
  font-size: 20px;
  margin-top: 5px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(216, 29, 29, 0.0);
  padding: 5px;
}
#deleteAll:hover {
  background-color: rgba(216, 29, 29, 0.767);
  transition: all .2s;
  cursor: alias;
}
#deleteAll:active {
  box-shadow: inset 0 0 10px rgb(95, 2, 2);
}
#deleteAll:focus {
  outline: none;
}
/************************************************************************************/
/* List with products */
.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-position: inside;
}
ol#parent-list {
  padding-inline-start: 0px;
}
/* List of products including with delete button inside */
#a {
  margin-top: 5px;
  border: 3px solid rgba(255, 255, 222, 0.0);
  border-radius: 5px;
  width: 300px;
  overflow: auto;
  padding: 10px 0px 5px 5px;
  transition: all .1s ease-out;
  vertical-align: middle;
  align-items: center;
}

#a:hover {
  background-color: rgba(221, 247, 255, 0.995);
  transition: all .2s;
  box-shadow: 0px 0px 33px -10px rgba(0,0,0,0.4);
  cursor: pointer;
  transform: scale(1.01); 
}
/* Delete button */
.remove {
  font-size: 15px;
  background-color: rgba(136, 224, 118, 0.0);
  height: 22px;
  border-radius: 5px;
  border: 1px solid white;
  padding: 1px;
  margin: 5px 5px 0px 0px;
}
.remove:hover {
  background-color:rgba(216, 29, 29, 0.767); 
  transition: all .2s;
  cursor: alias;
}
.remove:active {
  box-shadow: inset 0 0 10px rgb(95, 2, 2);
}
.remove:focus {
  outline: none;
}
li .remove {
  float: right;
}