ul {
  list-style: none;
  position: relative;
  left: -20px;
}

.done {
  text-decoration: line-through;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgba(48,139,255,1);
}

#enter {
  margin-top: 10px;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(224, 118, 118, 0.801);
  height: 35px;
  border-radius: 5px;
  border: 1px solid red;
}

#enter:hover {
  background-color: rgba(216, 29, 29, 0.767);
  transition: all .2s;
}

.remove {
  margin: 5px;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(136, 224, 118, 0.801);
  height: 20px;
  border-radius: 5px;
  border: 1px solid green;
}

.remove:hover {
  background-color: rgba(49, 179, 23, 0.89);
  transition: all .2s;
}

#userinput {
  background-color: rgba(10, 158, 243, 0.63);
  border-radius: 5px;
  border: 1px solid rgba(24, 242, 250, 0.563);
  height: 25px;
  font-size: 17px;
  font-family: Georgia, 'Times';
}

#userinput:hover {
  background-color: rgba(115, 234, 238, 0.863);
  transition: all .2s;
}

#userinput:focus {
  background-color: rgba(115, 234, 238, 0.863);
}

#a {
  margin-top: 5px;
  border: 2px solid rgba(255, 255, 222);
  border-radius: 5px;
  width: 300px;
}

#a:hover {
  background-color: rgba(221, 247, 255, 0.905);
  transition: all .2s;
}
